@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.page-bg {
    background-image: linear-gradient(to right, #984ef8, #dac0ff);
    padding: 30px;
}

.page-heading {
    color: #690cb0;
    font-weight: bold;
    font-size: 45px;
}

.paraGraph {
    color: #3e4c59;
}

.clock-img {
    width: 40px;
}

.quote-container {
    border: 2px solid #9aa5b1;
    border-radius: 16px;
    padding: 30px;
    background-color: #f2ebfe;
}

.quote-text {
    font-size: 20px;
}

.submit-button {
    background-color: #690cb0;
    color: #ffffff;
    font-size: 13px;
    border-radius: 6px;
    padding: 7px;
    width: 75px;
    border-width: 0px;
    font-weight: bold;
}

.reset-button {
    background-color: #ffffff;
    color: black;
    font-size: 13px;
    border-radius: 6px;
    padding: 7px;
    width: 75px;
    border-width: 0px;
    font-weight: bold;

}

.spin-margin {
    margin-top: 250px;
}

.seconds-count {
    font-size: 30px;
    color: #3e4c59;
}